<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylessheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <h1>Photos</h1>
        <p>
            Yet another photo stock
        </p>
        <div class="photos">
            <% photos.forEach(photo => { %>
                <div class='photo'>
                    <h2><%=photo%></h2>
                    <img src='<%= `images/${photo}` %>'/>
                </div>
            <% }) %>
        </div>
    </body>
</html>
